Repository CodeJoustHQ/main, pull requests merged in 2020-10, with the labels that each got.

#47 Change room-user relationship to bidirectional database mapping
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/model/User.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/api/UserTests.java
  src/test/java/com/rocketden/main/entity/RoomEntityTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
Labels: backend

#50 Join page query param
  frontend/src/util/Utility.ts
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
Labels: frontend

#54 Allow hosts to transfer ownership
  frontend/src/api/Room.ts
  frontend/src/components/card/HostActionCard.tsx
  frontend/src/components/card/PlayerCard.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/views/Lobby.tsx
Labels: frontend

#56 Show difficulty settings on frontend
  frontend/src/api/Difficulty.ts
  frontend/src/api/Room.ts
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/model/ProblemDifficulty.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: frontend

#58 Update the REST endpoints to include roomId as a path variable.
  frontend/src/api/Room.ts
  frontend/src/views/Join.tsx
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/dto/room/GetRoomRequest.java
  src/main/java/com/rocketden/main/dto/room/JoinRoomRequest.java
  src/main/java/com/rocketden/main/service/GameService.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
Labels: backend

#53 Manage active and inactive users through connection and disconnection updates.
  frontend/src/api/Room.ts
  frontend/src/api/Socket.ts
  frontend/src/api/User.ts
  frontend/src/components/card/PlayerCard.tsx
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/config/WebSocketConfig.java
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/dao/UserRepository.java
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/dto/room/RoomMapper.java
  src/main/java/com/rocketden/main/dto/user/CreateUserRequest.java
  src/main/java/com/rocketden/main/dto/user/DeleteUserRequest.java
  src/main/java/com/rocketden/main/dto/user/UserDto.java
  src/main/java/com/rocketden/main/dto/user/UserMapper.java
  src/main/java/com/rocketden/main/exception/RoomError.java
  src/main/java/com/rocketden/main/exception/api/ApiError.java
  src/main/java/com/rocketden/main/exception/api/ApiException.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/model/User.java
  src/main/java/com/rocketden/main/service/GameService.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/main/java/com/rocketden/main/service/SocketService.java
  src/main/java/com/rocketden/main/service/UserService.java
  src/main/java/com/rocketden/main/socket/WebSocketConnectionEvents.java
  src/main/java/com/rocketden/main/util/Utility.java
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/api/UserTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/mapper/UserMapperTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/service/SocketServiceTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
  src/test/java/com/rocketden/main/util/UtilityTestMethods.java
  src/test/java/com/rocketden/main/util/UtilityTests.java
Labels: backend, frontend

#62 Allow users to choose coding language
  frontend/config-overrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/core/Editor.tsx
  frontend/src/views/Game.tsx
Labels: frontend

#63 Test socket connection and disconnection, and add user / room constants to testing files.
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/socket/WebSocketConnectionEvents.java
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/api/UserTests.java
  src/test/java/com/rocketden/main/entity/RoomEntityTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/mapper/UserMapperTests.java
  src/test/java/com/rocketden/main/service/GameServiceTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/service/SocketServiceTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
  src/test/java/com/rocketden/main/util/SocketTestMethods.java
Labels: testing

#64 Transfer room ownership after host leaves, update through socket message, and add relevant tests.
  frontend/package.json
  src/main/java/com/rocketden/main/socket/WebSocketConnectionEvents.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
Labels: backend, frontend, testing

#66 Prevent switching room hosts to an inactive user
  frontend/src/components/card/HostActionCard.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/dto/user/UserDto.java
  src/main/java/com/rocketden/main/exception/RoomError.java
  src/main/java/com/rocketden/main/model/User.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/socket/RoomHostTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
Labels: backend, frontend

#67 Add new utility generate unique id method.
  src/main/java/com/rocketden/main/service/RoomService.java
  src/main/java/com/rocketden/main/service/UserService.java
  src/main/java/com/rocketden/main/util/Utility.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
  src/test/java/com/rocketden/main/util/UtilityTests.java
Labels: backend, testing

#68 General saving and UI updates to the game page.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Room.ts
  frontend/src/views/Game.tsx
  frontend/src/views/Lobby.tsx
Labels: frontend

#69 REST endpoints for creating problem test cases and getting a single problem
  src/main/java/com/rocketden/main/controller/v1/ProblemController.java
  src/main/java/com/rocketden/main/dao/ProblemRepository.java
  src/main/java/com/rocketden/main/dto/problem/CreateTestCaseRequest.java
  src/main/java/com/rocketden/main/dto/problem/ProblemDto.java
  src/main/java/com/rocketden/main/dto/problem/ProblemMapper.java
  src/main/java/com/rocketden/main/dto/problem/ProblemTestCaseDto.java
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/dto/room/UpdateSettingsRequest.java
  src/main/java/com/rocketden/main/exception/ProblemError.java
  src/main/java/com/rocketden/main/model/Problem.java
  src/main/java/com/rocketden/main/model/ProblemTestCase.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/model/problem/Problem.java
  src/main/java/com/rocketden/main/model/problem/ProblemDifficulty.java
  src/main/java/com/rocketden/main/model/problem/ProblemTestCase.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/entity/ProblemEntityTests.java
  src/test/java/com/rocketden/main/mapper/ProblemMapperTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
Labels: backend
