Repository CodeJoustHQ/main, pull requests merged in 2020-09, with the labels that each got.

#26 Add "Enter Nickname" and "Waiting Room" designs for the join room page.
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Input.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/views/Join.tsx
Labels: backend

#24 Allow room creation on frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Error.ts
  frontend/src/api/Problem.ts
  frontend/src/api/Room.ts
  frontend/src/components/config/App.tsx
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Error.tsx
  frontend/src/components/core/Loading.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/views/Create.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Landing.tsx
Labels: frontend

#28 Fix console 404 error
  src/main/java/com/rocketden/main/controller/v1/FrontendRedirectController.java
Labels: bug fix

#22 Display problems and game page redesign
  frontend/src/api/Problem.ts
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/layout/Game.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/views/Game.tsx
Labels: frontend

#29 Manage waiting room users
  frontend/src/api/Error.ts
  frontend/src/api/Room.ts
  frontend/src/api/Socket.ts
  frontend/src/components/core/Text.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Landing.tsx
  src/main/java/com/rocketden/main/controller/v1/UserSocketController.java
  src/main/java/com/rocketden/main/model/User.java
  src/test/java/com/rocketden/main/UserIntegrationTests.java
Labels: backend, frontend

#30 Backend error handling
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/controller/v1/UserController.java
  src/main/java/com/rocketden/main/dto/room/CreateRoomResponse.java
  src/main/java/com/rocketden/main/dto/room/JoinRoomResponse.java
  src/main/java/com/rocketden/main/dto/user/CreateUserResponse.java
  src/main/java/com/rocketden/main/exception/RoomError.java
  src/main/java/com/rocketden/main/exception/UserError.java
  src/main/java/com/rocketden/main/exception/api/ApiError.java
  src/main/java/com/rocketden/main/exception/api/ApiErrorResponse.java
  src/main/java/com/rocketden/main/exception/api/ApiException.java
  src/main/java/com/rocketden/main/exception/api/ApiExceptionHandler.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/main/java/com/rocketden/main/service/UserService.java
  src/test/java/com/rocketden/main/RoomTests.java
  src/test/java/com/rocketden/main/UserTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
Labels: backend

#31 Create GET endpoint for rooms
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/dto/room/GetRoomRequest.java
  src/main/java/com/rocketden/main/dto/room/GetRoomResponse.java
  src/main/java/com/rocketden/main/dto/room/RoomMapper.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/RoomTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: backend

#35 Delete yarn.lock file
  frontend/yarn.lock
Labels: bug fix, frontend

#36 Extract out "Enter Nickname" page and rebuild the "Create" page.
  frontend/src/api/Room.ts
  frontend/src/api/Socket.ts
  frontend/src/components/config/App.tsx
  frontend/src/components/core/EnterNickname.tsx
  frontend/src/views/Create.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Landing.tsx
Labels: frontend

#37 Refactor to use RoomDto and UserDto
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/controller/v1/UserController.java
  src/main/java/com/rocketden/main/controller/v1/UserSocketController.java
  src/main/java/com/rocketden/main/dto/room/CreateRoomResponse.java
  src/main/java/com/rocketden/main/dto/room/JoinRoomRequest.java
  src/main/java/com/rocketden/main/dto/room/JoinRoomResponse.java
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/dto/room/RoomMapper.java
  src/main/java/com/rocketden/main/dto/user/UserDto.java
  src/main/java/com/rocketden/main/dto/user/UserMapper.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/main/java/com/rocketden/main/service/UserService.java
  src/test/java/com/rocketden/main/RoomTests.java
  src/test/java/com/rocketden/main/UserIntegrationTests.java
  src/test/java/com/rocketden/main/UserTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/mapper/UserMapperTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
Labels: backend

#38 Create the Waiting Room page and Update the Create and Join pages.
  frontend/src/components/config/App.tsx
  frontend/src/views/Create.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
Labels: frontend

#32 Gamepage adjustable panels
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/Editor.tsx
  frontend/src/components/layout/Game.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/index.tsx
  frontend/src/views/Game.tsx
Labels: frontend

#40 Create the Enter Room ID page and incorporate local storage.
  frontend/src/views/Join.tsx
Labels: frontend

#39 Dynamic room endpoints
  frontend/src/api/Socket.ts
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/controller/v1/UserSocketController.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/RoomSocketTests.java
  src/test/java/com/rocketden/main/RoomTests.java
  src/test/java/com/rocketden/main/UserIntegrationTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: backend

#42 Added delete user and tests
  src/main/java/com/rocketden/main/controller/v1/UserController.java
  src/main/java/com/rocketden/main/dto/user/DeleteUserRequest.java
  src/main/java/com/rocketden/main/exception/UserError.java
  src/main/java/com/rocketden/main/service/UserService.java
  src/test/java/com/rocketden/main/UserTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
Labels: backend

#41 Pass room info to lobby page after creating a room
  frontend/src/api/Room.ts
  frontend/src/api/Socket.ts
  frontend/src/api/User.ts
  frontend/src/views/Create.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/controller/v1/UserSocketController.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/RoomSocketTests.java
  src/test/java/com/rocketden/main/UserIntegrationTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: backend, frontend

#43 Connect join room to REST endpoints
  frontend/src/api/Room.ts
  frontend/src/api/Socket.ts
  frontend/src/components/core/EnterNickname.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/Create.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/dto/room/GetRoomResponse.java
  src/main/java/com/rocketden/main/dto/room/RoomMapper.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/RoomTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: frontend
