Repository CodeJoustHQ/main, pull requests merged in 2021-01, with the labels that each got.

#81 Add an explanation field to problem test cases.
  src/main/java/com/rocketden/main/dto/problem/CreateTestCaseRequest.java
  src/main/java/com/rocketden/main/dto/problem/ProblemTestCaseDto.java
  src/main/java/com/rocketden/main/model/problem/ProblemTestCase.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/entity/ProblemEntityTests.java
  src/test/java/com/rocketden/main/mapper/ProblemMapperTests.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
Labels: backend

#77 Update scripts to use react-app-rewired while maintaining quick build speed.
  frontend/package.json
  src/main/java/com/rocketden/main/dto/problem/CreateTestCaseRequest.java
  src/main/java/com/rocketden/main/dto/problem/ProblemTestCaseDto.java
  src/main/java/com/rocketden/main/model/problem/ProblemTestCase.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/entity/ProblemEntityTests.java
  src/test/java/com/rocketden/main/mapper/ProblemMapperTests.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
Labels: build

#80 Connect game page to backend Game objects
  frontend/src/api/Game.ts
  frontend/src/views/Game.tsx
  src/main/java/com/rocketden/main/controller/v1/GameController.java
  src/main/java/com/rocketden/main/dto/game/GameMapper.java
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/game_object/Game.java
  src/main/java/com/rocketden/main/game_object/Player.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/GameService.java
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/mapper/GameMapperTests.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/service/GameServiceTests.java
Labels: backend, frontend

#79 Fix lobby page bug with back button and reopening tab
  frontend/src/api/Socket.ts
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/service/RoomService.java
  src/main/java/com/rocketden/main/socket/WebSocketConnectionEvents.java
Labels: bug fix

#86 Add Timer to frontend and backend, end game on timer end.
  frontend/src/api/Game.ts
  frontend/src/api/GameTimer.ts
  frontend/src/api/Socket.ts
  frontend/src/components/game/GameTimerContainer.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/dto/game/GameDto.java
  src/main/java/com/rocketden/main/dto/game/GameMapper.java
  src/main/java/com/rocketden/main/dto/game/GameTimerDto.java
  src/main/java/com/rocketden/main/dto/game/GameTimerMapper.java
  src/main/java/com/rocketden/main/dto/game/PlayerCodeDto.java
  src/main/java/com/rocketden/main/dto/game/PlayerDto.java
  src/main/java/com/rocketden/main/exception/TimerError.java
  src/main/java/com/rocketden/main/game_object/Game.java
  src/main/java/com/rocketden/main/game_object/GameTimer.java
  src/main/java/com/rocketden/main/game_object/Timer.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/SocketService.java
  src/main/java/com/rocketden/main/util/EndGameTimerTask.java
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/mapper/GameTimerMapperTests.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/service/SubmitServiceTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
  src/test/java/com/rocketden/main/util/EndGameTimerTaskTests.java
  src/test/java/com/rocketden/main/util/UtilityTestMethods.java
Labels: backend, frontend

#88 Boot the kicked user from the room.
  frontend/src/api/Socket.ts
  frontend/src/views/Lobby.tsx
Labels: frontend

#89 Add numProblems as an updatable room setting
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/dto/room/UpdateSettingsRequest.java
  src/main/java/com/rocketden/main/exception/ProblemError.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: backend

#90 Send and receive Game Notifications.
  frontend/src/api/GameNotification.ts
  frontend/src/api/Socket.ts
  frontend/src/components/core/EnterNickname.tsx
  frontend/src/components/game/GameNotificationContainer.tsx
  frontend/src/views/Create.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/game_object/GameNotification.java
Labels: frontend

#92 Allow game duration to be set by host on lobby page
  frontend/src/api/Room.ts
  frontend/src/components/core/Input.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/dto/game/GameTimerDto.java
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/dto/room/UpdateSettingsRequest.java
  src/main/java/com/rocketden/main/exception/TimerError.java
  src/main/java/com/rocketden/main/game_object/GameTimer.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/main/java/com/rocketden/main/util/EndGameTimerTask.java
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/mapper/GameTimerMapperTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/service/UserServiceTests.java
  src/test/java/com/rocketden/main/socket/GameSocketTests.java
  src/test/java/com/rocketden/main/socket/RoomSocketTests.java
  src/test/java/com/rocketden/main/util/EndGameTimerTaskTests.java
  src/test/java/com/rocketden/main/util/SocketTestMethods.java
Labels: backend, frontend

#91 Add Color to Player class to create Player Icon.
  frontend/src/api/Color.ts
  frontend/src/api/Player.ts
  src/main/java/com/rocketden/main/dto/game/GameMapper.java
  src/main/java/com/rocketden/main/dto/game/PlayerDto.java
  src/main/java/com/rocketden/main/dto/game/PlayerMapper.java
  src/main/java/com/rocketden/main/dto/game/SubmissionDto.java
  src/main/java/com/rocketden/main/game_object/Player.java
  src/main/java/com/rocketden/main/util/Color.java
  src/main/java/com/rocketden/main/util/Utility.java
  src/test/java/com/rocketden/main/mapper/GameMapperTests.java
  src/test/java/com/rocketden/main/mapper/PlayerMapperTests.java
Labels: backend, frontend

#95 Add update code method.
  src/main/java/com/rocketden/main/exception/GameError.java
  src/main/java/com/rocketden/main/game_object/Player.java
  src/main/java/com/rocketden/main/game_object/PlayerCode.java
  src/main/java/com/rocketden/main/game_object/Submission.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/LiveGameService.java
  src/main/java/com/rocketden/main/util/Color.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/service/LiveGameServiceTests.java
Labels: backend

#96 Send socket message / end game once everybody solves the problem.
  frontend/src/api/Game.ts
  frontend/src/views/Game.tsx
  src/main/java/com/rocketden/main/dto/game/GameDto.java
  src/main/java/com/rocketden/main/dto/game/GameMapper.java
  src/main/java/com/rocketden/main/game_object/Game.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/SubmitService.java
  src/test/java/com/rocketden/main/mapper/GameMapperTests.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/service/SubmitServiceTests.java
Labels: backend, frontend

#97 Set up results page and play again functionality
  .github/workflows/workflow.yml
  frontend/src/api/Game.ts
  frontend/src/api/Socket.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/card/PlayerIcon.tsx
  frontend/src/components/card/PlayerResultsCard.tsx
  frontend/src/components/config/App.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/game/GameNotificationContainer.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Results.tsx
  src/main/java/com/rocketden/main/controller/v1/GameController.java
  src/main/java/com/rocketden/main/dto/game/GameDto.java
  src/main/java/com/rocketden/main/dto/game/GameMapper.java
  src/main/java/com/rocketden/main/dto/game/PlayAgainRequest.java
  src/main/java/com/rocketden/main/exception/GameError.java
  src/main/java/com/rocketden/main/game_object/Game.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/mapper/GameMapperTests.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/socket/GameSocketTests.java
Labels: backend, frontend

#100 Create pipeline for calling the tester service
  pom.xml
  src/main/java/com/rocketden/main/dto/game/TesterRequest.java
  src/main/java/com/rocketden/main/dto/game/TesterResponse.java
  src/main/java/com/rocketden/main/exception/GameError.java
  src/main/java/com/rocketden/main/service/SubmitService.java
  src/main/resources/application.properties
  src/test/java/com/rocketden/main/service/SubmitServiceTests.java
  src/test/resources/application.properties
Labels: backend

#101 Create Backend Setup for Creating the Problem Default Code.
  frontend/src/components/game/Console.tsx
  frontend/src/views/Game.tsx
  src/main/java/com/rocketden/main/dto/problem/CreateProblemRequest.java
  src/main/java/com/rocketden/main/dto/problem/ProblemDto.java
  src/main/java/com/rocketden/main/dto/problem/ProblemInputDto.java
  src/main/java/com/rocketden/main/dto/problem/ProblemMapper.java
  src/main/java/com/rocketden/main/exception/ProblemError.java
  src/main/java/com/rocketden/main/model/problem/Problem.java
  src/main/java/com/rocketden/main/model/problem/ProblemIOType.java
  src/main/java/com/rocketden/main/model/problem/ProblemInput.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/main/resources/application.properties
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/api/UserTests.java
  src/test/java/com/rocketden/main/entity/ProblemEntityTests.java
  src/test/java/com/rocketden/main/mapper/ProblemMapperTests.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
  src/test/java/com/rocketden/main/util/SocketTestMethods.java
  src/test/java/com/rocketden/main/util/UtilityTestMethods.java
  src/test/resources/application.properties
Labels: backend
