Repository CodeJoustHQ/main, pull requests merged in 2021-07, with the labels that each got.

#171 Hiding hidden test cases from the frontend during games
  frontend/src/components/game/Console.tsx
  src/main/java/com/codejoust/main/dto/game/GameMapper.java
  src/test/java/com/codejoust/main/api/GameTests.java
  src/test/java/com/codejoust/main/mapper/GameMapperTests.java
  src/test/java/com/codejoust/main/service/SubmitServiceTests.java
Labels: backend

#175 Fix link bugs and add style improvements.
  frontend/src/components/card/ProblemCard.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/problem/editor/ProblemDisplay.tsx
  frontend/src/views/ProblemPage.tsx
  frontend/src/views/VerifiedProblemsPage.tsx
Labels: design, frontend

#172 Staging Num Problems
  frontend/src/api/Game.ts
  frontend/src/api/Room.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/game/Console.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/components/game/PlayerGameView.tsx
  frontend/src/components/game/SpectatorGameView.tsx
  frontend/src/components/results/PlayerResultsItem.tsx
  frontend/src/components/results/Podium.tsx
  frontend/src/components/results/PreviewCodeContent.tsx
  frontend/src/components/results/ResultsTable.tsx
  frontend/src/util/Hook.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/Game.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/Results.tsx
  src/main/java/com/codejoust/main/dto/game/GameMapper.java
  src/main/java/com/codejoust/main/dto/game/PlayerDto.java
  src/main/java/com/codejoust/main/dto/game/SubmissionDto.java
  src/main/java/com/codejoust/main/dto/game/SubmissionRequest.java
  src/main/java/com/codejoust/main/game_object/Player.java
  src/main/java/com/codejoust/main/game_object/Submission.java
  src/main/java/com/codejoust/main/service/GameManagementService.java
  src/main/java/com/codejoust/main/service/SubmitService.java
  src/test/java/com/codejoust/main/mapper/GameMapperTests.java
  src/test/java/com/codejoust/main/mapper/PlayerMapperTests.java
  src/test/java/com/codejoust/main/service/GameManagementServiceTests.java
  src/test/java/com/codejoust/main/service/RoomServiceTests.java
Labels: frontend

#174 Integrate multiple problems into existing flow
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/HelpModal.tsx
  frontend/src/components/core/Icon.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/components/game/PlayerGameView.tsx
  frontend/src/components/game/ProblemPanel.tsx
  frontend/src/components/problem/Selector.tsx
  frontend/src/components/special/CopyIndicator.tsx
  frontend/src/views/ContactUs.tsx
  frontend/src/views/Landing.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/Results.tsx
  src/main/java/com/codejoust/main/exception/ProblemError.java
  src/main/java/com/codejoust/main/service/GameManagementService.java
  src/main/java/com/codejoust/main/service/RoomService.java
  src/test/java/com/codejoust/main/api/GameTests.java
  src/test/java/com/codejoust/main/service/GameManagementServiceTests.java
  src/test/java/com/codejoust/main/service/RoomServiceTests.java
Labels: backend, frontend

#178 Support multiple problems on results and spectator pages
  frontend/src/api/Game.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/components/game/PlayerGameView.tsx
  frontend/src/components/game/ProblemPanel.tsx
  frontend/src/components/game/SpectatorGameView.tsx
  frontend/src/components/results/PlayerResultsItem.tsx
  frontend/src/components/results/Podium.tsx
  frontend/src/components/results/PreviewCodeContent.tsx
  frontend/src/components/results/ResultsTable.tsx
  frontend/src/util/Hook.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/Game.tsx
  frontend/src/views/Results.tsx
Labels: frontend
