Repository CodeJoustHQ/main, pull requests merged in 2021-04, with the labels that each got.

#126 Adding front end for the room limit and connecting it to the back end
  frontend/src/api/Room.ts
  frontend/src/views/Lobby.tsx
  pom.xml
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/dto/room/UpdateSettingsRequest.java
  src/main/java/com/rocketden/main/exception/ProblemError.java
  src/main/java/com/rocketden/main/exception/RoomError.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: backend, design, frontend

#134 Fix tester bug, update database, new faster build option
  README.md
  pom.xml
  src/main/java/com/rocketden/main/service/SubmitService.java
  src/main/resources/application.properties
  src/test/java/com/rocketden/main/service/SubmitServiceTests.java
Labels: backend, bug fix

#130 Lock the problem edit pages, fix room duration bug, add beta tag.
  .github/workflows/workflow.yml
  README.md
  frontend/src/api/Problem.ts
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Input.tsx
  frontend/src/components/core/Link.tsx
  frontend/src/components/core/LockScreen.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/views/AllProblemsPage.tsx
  frontend/src/views/CreateProblemPage.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/ProblemPage.tsx
  src/main/java/com/rocketden/main/controller/v1/ProblemController.java
  src/main/java/com/rocketden/main/service/ProblemService.java
Labels: backend, bug fix, frontend

#133 Check valid parameter names for problems on frontend and backend.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/core/Button.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/util/Utility.ts
  src/main/java/com/rocketden/main/exception/ProblemError.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/main/java/com/rocketden/main/util/Utility.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
  src/test/java/com/rocketden/main/util/UtilityTests.java
Labels: backend, design, frontend

#127 Allow problemId to be specified for a room on the backend
  src/main/java/com/rocketden/main/dto/problem/SelectableProblemDto.java
  src/main/java/com/rocketden/main/dto/room/RoomDto.java
  src/main/java/com/rocketden/main/dto/room/UpdateSettingsRequest.java
  src/main/java/com/rocketden/main/exception/ProblemError.java
  src/main/java/com/rocketden/main/exception/RoomError.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/model/problem/Problem.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/api/ProblemTests.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/mapper/RoomMapperTests.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
  src/test/java/com/rocketden/main/util/ProblemTestMethods.java
Labels: backend

#141 Allow users to select specific problems on the frontend
  frontend/src/api/Problem.ts
  frontend/src/api/Room.ts
  frontend/src/components/card/PlayerCard.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/RangeSlider.tsx
  frontend/src/components/problem/ProblemSelector.tsx
  frontend/src/components/problem/SelectedProblemsDisplay.tsx
  frontend/src/components/special/IdContainer.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/controller/v1/ProblemController.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/service/ProblemService.java
  src/test/java/com/rocketden/main/service/ProblemServiceTests.java
Labels: frontend

#145 Update site for TeamsCode launch
  frontend/src/components/results/FeedbackPopup.tsx
  frontend/src/views/ContactUs.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Results.tsx
Labels: frontend

#144 Refactor test suite
  src/test/java/com/codejoust/main/api/GameTests.java
  src/test/java/com/codejoust/main/api/ProblemTests.java
  src/test/java/com/codejoust/main/api/RoomTests.java
  src/test/java/com/codejoust/main/api/UserTests.java
  src/test/java/com/codejoust/main/api/UtilityTests.java
  src/test/java/com/codejoust/main/entity/ProblemEntityTests.java
  src/test/java/com/codejoust/main/entity/RoomEntityTests.java
  src/test/java/com/codejoust/main/mapper/GameMapperTests.java
  src/test/java/com/codejoust/main/mapper/GameTimerMapperTests.java
  src/test/java/com/codejoust/main/mapper/PlayerMapperTests.java
  src/test/java/com/codejoust/main/mapper/ProblemMapperTests.java
  src/test/java/com/codejoust/main/mapper/RoomMapperTests.java
  src/test/java/com/codejoust/main/mapper/SubmissionMapperTests.java
  src/test/java/com/codejoust/main/mapper/UserMapperTests.java
  src/test/java/com/codejoust/main/service/GameManagementServiceTests.java
  src/test/java/com/codejoust/main/service/LiveGameServiceTests.java
  src/test/java/com/codejoust/main/service/NotificationServiceTests.java
  src/test/java/com/codejoust/main/service/ProblemServiceTests.java
  src/test/java/com/codejoust/main/service/RoomServiceTests.java
  src/test/java/com/codejoust/main/service/SocketServiceTests.java
  src/test/java/com/codejoust/main/service/SubmitServiceTests.java
  src/test/java/com/codejoust/main/service/UserServiceTests.java
  src/test/java/com/codejoust/main/service/generators/DefaultCodeGeneratorServiceTests.java
  src/test/java/com/codejoust/main/socket/GameSocketTests.java
  src/test/java/com/codejoust/main/socket/RoomHostTests.java
  src/test/java/com/codejoust/main/socket/RoomSocketTests.java
  src/test/java/com/codejoust/main/task/EndGameTimerTaskTests.java
  src/test/java/com/codejoust/main/task/NotificationTimerTaskTests.java
  src/test/java/com/codejoust/main/util/MockHelper.java
  src/test/java/com/codejoust/main/util/TestFields.java
  src/test/java/com/codejoust/main/util/TestUrls.java
  src/test/java/com/codejoust/main/util/UtilityTestMethods.java
Labels: backend
