Repository CodeJoustHQ/main, pull requests merged in 2021-06, with the labels that each got.

#158 Implement dashboard page
  frontend/src/components/card/ProblemCard.tsx
  frontend/src/components/config/App.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/Dropdown.tsx
  frontend/src/components/core/Link.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/layout/FullLayout.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/components/problem/FilteredProblemList.tsx
  frontend/src/components/problem/SelectedDisplay.tsx
  frontend/src/util/Hook.tsx
  frontend/src/views/AllProblemsPage.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/account/Dashboard.tsx
  frontend/src/views/account/Login.tsx
  frontend/src/views/account/Register.tsx
  frontend/src/views/dashboard/Dashboard.tsx
  frontend/src/views/dashboard/DashboardSidebar.tsx
  frontend/src/views/dashboard/MyProblems.tsx
Labels: design, frontend

#162 Landing page redesign
  frontend/public/landing/admin_abstract.png
  frontend/public/landing/game.png
  frontend/public/landing/game_abstract.png
  frontend/public/landing/lobby.png
  frontend/public/landing/problems.svg
  frontend/public/landing/results.png
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/Image.tsx
  frontend/src/components/game/PlayerGameView.tsx
  frontend/src/components/layout/CircleBackground.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/components/special/CopyIndicator.tsx
  frontend/src/util/Hook.tsx
  frontend/src/views/ContactUs.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Landing.tsx
Labels: design, frontend

#164 Introduce account permission levels for problems and tags
  frontend/src/api/Account.ts
  frontend/src/api/Problem.ts
  frontend/src/components/core/HelpModal.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/components/problem/ProblemTags.tsx
  frontend/src/components/problem/SelectedDisplay.tsx
  frontend/src/components/problem/Selector.tsx
  frontend/src/views/AllProblemsPage.tsx
  frontend/src/views/CreateProblemPage.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/ProblemPage.tsx
  src/main/java/com/codejoust/main/controller/v1/ProblemController.java
  src/main/java/com/codejoust/main/dao/ProblemRepository.java
  src/main/java/com/codejoust/main/dao/ProblemTagRepository.java
  src/main/java/com/codejoust/main/dto/account/AccountDto.java
  src/main/java/com/codejoust/main/dto/account/AccountRole.java
  src/main/java/com/codejoust/main/dto/problem/ProblemDto.java
  src/main/java/com/codejoust/main/exception/AccountError.java
  src/main/java/com/codejoust/main/exception/ProblemError.java
  src/main/java/com/codejoust/main/model/Account.java
  src/main/java/com/codejoust/main/model/problem/Problem.java
  src/main/java/com/codejoust/main/model/problem/ProblemTag.java
  src/main/java/com/codejoust/main/service/FirebaseService.java
  src/main/java/com/codejoust/main/service/ProblemService.java
  src/test/java/com/codejoust/main/api/GameTests.java
  src/test/java/com/codejoust/main/api/ProblemTests.java
  src/test/java/com/codejoust/main/mapper/ProblemMapperTests.java
  src/test/java/com/codejoust/main/service/FirebaseServiceTests.java
  src/test/java/com/codejoust/main/service/ProblemServiceTests.java
  src/test/java/com/codejoust/main/socket/GameSocketTests.java
  src/test/java/com/codejoust/main/socket/RoomSocketTests.java
  src/test/java/com/codejoust/main/util/MockHelper.java
  src/test/java/com/codejoust/main/util/ProblemTestMethods.java
  src/test/java/com/codejoust/main/util/SocketTestMethods.java
  src/test/java/com/codejoust/main/util/TestFields.java
Labels: backend, frontend

#166 Revise live spectator frontend header.
  frontend/src/api/Game.ts
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Icon.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/game/PlayerGameView.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/components/results/PlayerResultsItem.tsx
  frontend/src/util/Hook.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/Lobby.tsx
Labels: design, frontend

#168 Update codebase to simplify and improve user experience
  frontend/src/api/Problem.ts
  frontend/src/api/Room.ts
  frontend/src/components/config/App.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/EnterNickname.tsx
  frontend/src/components/core/HelpModal.tsx
  frontend/src/components/core/Link.tsx
  frontend/src/components/problem/FilteredProblemList.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/components/problem/SelectedDisplay.tsx
  frontend/src/components/problem/Selector.tsx
  frontend/src/components/problem/editor/OptionsPanel.tsx
  frontend/src/components/problem/editor/ProblemDisplay.tsx
  frontend/src/components/problem/editor/TestCaseEditor.tsx
  frontend/src/redux/Account.ts
  frontend/src/redux/Problem.ts
  frontend/src/redux/Store.ts
  frontend/src/util/Hook.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/Create.tsx
  frontend/src/views/CreateProblemPage.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/ProblemPage.tsx
  frontend/src/views/Results.tsx
  frontend/src/views/VerifiedProblemsPage.tsx
  frontend/src/views/account/Profile.tsx
  frontend/src/views/dashboard/Dashboard.tsx
  frontend/src/views/dashboard/DashboardSidebar.tsx
  frontend/src/views/dashboard/MyProblems.tsx
  src/main/java/com/codejoust/main/dto/problem/SelectableProblemDto.java
  src/main/java/com/codejoust/main/service/ProblemService.java
Labels: bug fix, frontend

#170 Connect users with accounts, create report data model.
  frontend/src/api/Room.ts
  frontend/src/api/User.ts
  frontend/src/util/Utility.ts
  frontend/src/views/Create.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/codejoust/main/controller/v1/ProblemController.java
  src/main/java/com/codejoust/main/controller/v1/RoomController.java
  src/main/java/com/codejoust/main/controller/v1/UserController.java
  src/main/java/com/codejoust/main/dto/game/PlayerDto.java
  src/main/java/com/codejoust/main/dto/game/SubmissionDto.java
  src/main/java/com/codejoust/main/dto/game/SubmissionRequest.java
  src/main/java/com/codejoust/main/dto/game/TesterRequest.java
  src/main/java/com/codejoust/main/dto/user/UserDto.java
  src/main/java/com/codejoust/main/game_object/PlayerCode.java
  src/main/java/com/codejoust/main/model/Account.java
  src/main/java/com/codejoust/main/model/User.java
  src/main/java/com/codejoust/main/model/problem/Problem.java
  src/main/java/com/codejoust/main/model/problem/ProblemContainer.java
  src/main/java/com/codejoust/main/model/problem/ProblemTag.java
  src/main/java/com/codejoust/main/model/report/CodeLanguage.java
  src/main/java/com/codejoust/main/model/report/GameEndType.java
  src/main/java/com/codejoust/main/model/report/GameReport.java
  src/main/java/com/codejoust/main/model/report/SubmissionGroupReport.java
  src/main/java/com/codejoust/main/model/report/SubmissionReport.java
  src/main/java/com/codejoust/main/service/ProblemService.java
  src/main/java/com/codejoust/main/service/RoomService.java
  src/main/java/com/codejoust/main/service/UserService.java
  src/main/java/com/codejoust/main/service/generators/DefaultCodeGeneratorService.java
  src/main/java/com/codejoust/main/service/generators/JavaDefaultCodeGeneratorService.java
  src/main/java/com/codejoust/main/service/generators/PythonDefaultCodeGeneratorService.java
  src/test/java/com/codejoust/main/api/ProblemTests.java
  src/test/java/com/codejoust/main/api/RoomTests.java
  src/test/java/com/codejoust/main/api/UserTests.java
  src/test/java/com/codejoust/main/mapper/UserMapperTests.java
  src/test/java/com/codejoust/main/service/RoomServiceTests.java
  src/test/java/com/codejoust/main/service/UserServiceTests.java
  src/test/java/com/codejoust/main/util/MockHelper.java
  src/test/java/com/codejoust/main/util/TestFields.java
  src/test/java/com/codejoust/main/util/TestUrls.java
Labels: backend
