Repository CodeJoustHQ/main, pull requests merged in 2021-05, with the labels that each got.

#148 Update default code setup.
  frontend/src/views/Game.tsx
  src/main/java/com/codejoust/main/service/generators/PythonDefaultCodeGeneratorService.java
  src/test/java/com/codejoust/main/api/ProblemTests.java
  src/test/java/com/codejoust/main/service/generators/DefaultCodeGeneratorServiceTests.java
Labels: frontend

#149 Add Redux architecture to the frontend
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/config/App.tsx
  frontend/src/components/results/PlayerResultsItem.tsx
  frontend/src/components/results/Podium.tsx
  frontend/src/index.tsx
  frontend/src/redux/Game.ts
  frontend/src/redux/Room.ts
  frontend/src/redux/Store.ts
  frontend/src/redux/User.ts
  frontend/src/util/Hook.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/Create.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/Results.tsx
Labels: frontend

#150 Add ability to create authenticated accounts using Firebase
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Firebase.ts
  frontend/src/components/config/App.tsx
  frontend/src/components/config/GoogleLogin.tsx
  frontend/src/components/config/Route.tsx
  frontend/src/components/core/Input.tsx
  frontend/src/components/core/LockScreen.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/redux/Account.ts
  frontend/src/redux/Store.ts
  frontend/src/util/Utility.ts
  frontend/src/views/account/Dashboard.tsx
  frontend/src/views/account/Login.tsx
  frontend/src/views/account/Register.tsx
Labels: frontend

#153 Write tests for new account behavior
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/config/App.tsx
  frontend/src/util/Hook.tsx
  src/main/java/com/codejoust/main/service/FirebaseService.java
  src/main/resources/application.properties
  src/test/java/com/codejoust/main/api/AccountTests.java
  src/test/java/com/codejoust/main/mapper/AccountMapperTests.java
  src/test/java/com/codejoust/main/mapper/ProblemMapperTests.java
  src/test/java/com/codejoust/main/service/AccountServiceTests.java
  src/test/java/com/codejoust/main/service/FirebaseServiceTests.java
  src/test/java/com/codejoust/main/service/ProblemServiceTests.java
  src/test/java/com/codejoust/main/socket/GameSocketTests.java
  src/test/java/com/codejoust/main/socket/RoomSocketTests.java
  src/test/java/com/codejoust/main/util/MockHelper.java
  src/test/java/com/codejoust/main/util/ProblemTestMethods.java
  src/test/java/com/codejoust/main/util/SocketTestMethods.java
  src/test/java/com/codejoust/main/util/TestFields.java
  src/test/java/com/codejoust/main/util/TestUrls.java
  src/test/resources/application.properties
Labels: backend

#151 Integrate accounts with backend database and problem management
  .github/workflows/workflow.yml
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Account.ts
  frontend/src/api/Problem.ts
  frontend/src/components/config/App.tsx
  frontend/src/components/config/Route.tsx
  frontend/src/components/core/ToggleButton.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/redux/Account.ts
  frontend/src/util/Hook.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/AllProblemsPage.tsx
  frontend/src/views/CreateProblemPage.tsx
  frontend/src/views/ProblemPage.tsx
  frontend/src/views/account/Dashboard.tsx
  frontend/src/views/account/Login.tsx
  frontend/src/views/account/Register.tsx
  pom.xml
  src/main/java/com/codejoust/main/Main.java
  src/main/java/com/codejoust/main/controller/v1/AccountController.java
  src/main/java/com/codejoust/main/controller/v1/ProblemController.java
  src/main/java/com/codejoust/main/dao/AccountRepository.java
  src/main/java/com/codejoust/main/dto/account/AccountDto.java
  src/main/java/com/codejoust/main/dto/account/AccountMapper.java
  src/main/java/com/codejoust/main/dto/account/AccountUidDto.java
  src/main/java/com/codejoust/main/dto/problem/ProblemDto.java
  src/main/java/com/codejoust/main/exception/AccountError.java
  src/main/java/com/codejoust/main/model/Account.java
  src/main/java/com/codejoust/main/model/problem/Problem.java
  src/main/java/com/codejoust/main/service/AccountService.java
  src/main/java/com/codejoust/main/service/FirebaseService.java
  src/main/java/com/codejoust/main/service/ProblemService.java
  src/main/resources/application.properties
  src/test/java/com/codejoust/main/api/AccountTests.java
  src/test/java/com/codejoust/main/mapper/AccountMapperTests.java
  src/test/java/com/codejoust/main/mapper/ProblemMapperTests.java
  src/test/java/com/codejoust/main/service/AccountServiceTests.java
  src/test/java/com/codejoust/main/service/FirebaseServiceTests.java
  src/test/java/com/codejoust/main/service/ProblemServiceTests.java
  src/test/java/com/codejoust/main/socket/GameSocketTests.java
  src/test/java/com/codejoust/main/socket/RoomSocketTests.java
  src/test/java/com/codejoust/main/util/MockHelper.java
  src/test/java/com/codejoust/main/util/ProblemTestMethods.java
  src/test/java/com/codejoust/main/util/SocketTestMethods.java
  src/test/java/com/codejoust/main/util/TestFields.java
  src/test/java/com/codejoust/main/util/TestUrls.java
  src/test/resources/application.properties
Labels: backend

#155 Allow host to manually end game
  frontend/src/api/Game.ts
  frontend/src/components/core/Button.tsx
  frontend/src/views/Game.tsx
  src/main/java/com/codejoust/main/controller/v1/GameController.java
  src/main/java/com/codejoust/main/dto/game/EndGameRequest.java
  src/main/java/com/codejoust/main/dto/game/GameDto.java
  src/main/java/com/codejoust/main/dto/game/GameMapper.java
  src/main/java/com/codejoust/main/game_object/Game.java
  src/main/java/com/codejoust/main/service/GameManagementService.java
  src/test/java/com/codejoust/main/mapper/GameMapperTests.java
  src/test/java/com/codejoust/main/service/GameManagementServiceTests.java
  src/test/java/com/codejoust/main/socket/GameSocketTests.java
Labels: backend, frontend
