Repository CodeJoustHQ/main, pull requests merged in 2021-03, with the labels that each got.

#109 Add markdown support for description field
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/core/Text.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/views/AllProblemsPage.tsx
  frontend/src/views/Game.tsx
  src/main/java/com/rocketden/main/model/problem/Problem.java
Labels: frontend

#108 Fix Monaco Editor height issue across browsers.
  frontend/src/components/core/Container.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/views/Game.tsx
Labels: bug fix, frontend

#107 Fix the frontend inaccurate timer.
  frontend/src/api/Socket.ts
  frontend/src/api/Utility.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/game/GameTimerContainer.tsx
  src/main/java/com/rocketden/main/controller/v1/UtilityController.java
  src/main/java/com/rocketden/main/dto/game/GameNotificationDto.java
  src/main/java/com/rocketden/main/dto/game/GameTimerDto.java
  src/main/java/com/rocketden/main/dto/game/SubmissionDto.java
  src/main/java/com/rocketden/main/game_object/GameTimer.java
  src/main/java/com/rocketden/main/game_object/Submission.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/model/User.java
  src/main/java/com/rocketden/main/model/problem/Problem.java
  src/main/java/com/rocketden/main/service/SubmitService.java
  src/main/java/com/rocketden/main/util/EndGameTimerTask.java
  src/main/java/com/rocketden/main/util/InstantDeserializer.java
  src/main/java/com/rocketden/main/util/InstantSerializer.java
  src/main/java/com/rocketden/main/util/NotificationTimerTask.java
  src/main/resources/application.properties
  src/test/java/com/rocketden/main/api/GameTests.java
  src/test/java/com/rocketden/main/api/UtilityTests.java
  src/test/java/com/rocketden/main/mapper/GameMapperTests.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/service/NotificationServiceTests.java
  src/test/java/com/rocketden/main/service/SubmitServiceTests.java
  src/test/java/com/rocketden/main/socket/GameSocketTests.java
  src/test/java/com/rocketden/main/util/SocketTestMethods.java
  src/test/java/com/rocketden/main/util/UtilityTestMethods.java
Labels: backend, bug fix, frontend

#113 Redesign the landing page.
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/components/config/App.tsx
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/layout/CircleBackground.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/components/special/FloatingCircle.tsx
  frontend/src/index.tsx
  frontend/src/views/Landing.tsx
  frontend/src/views/Lobby.tsx
Labels: design, frontend

#111 Refresh and active status support on game/results page + README improvements
  README.md
  frontend/src/api/Socket.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/card/PlayerIcon.tsx
  frontend/src/components/card/PlayerResultsCard.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Results.tsx
  src/main/java/com/rocketden/main/game_object/GameTimer.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/main/java/com/rocketden/main/service/NotificationService.java
  src/main/java/com/rocketden/main/socket/WebSocketConnectionEvents.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
  src/test/java/com/rocketden/main/socket/GameSocketTests.java
  src/test/java/com/rocketden/main/socket/RoomHostTests.java
Labels: backend, bug fix, frontend

#114 Game page initial redesign
  frontend/src/api/Color.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/card/PlayerIcon.tsx
  frontend/src/components/card/PlayerResultsCard.tsx
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/Input.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/game/Console.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/views/Game.tsx
  src/main/java/com/rocketden/main/config/WebSocketConfig.java
  src/main/java/com/rocketden/main/dto/game/GameMapper.java
  src/main/java/com/rocketden/main/util/Color.java
  src/main/java/com/rocketden/main/util/Utility.java
Labels: design, frontend

#117 Enable the ordering of the test cases.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Problem.ts
  frontend/src/components/core/Text.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/ProblemPage.tsx
Labels: design, frontend

#119 Create the Contact Us page.
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/config/App.tsx
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Link.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/navigation/Header.tsx
  frontend/src/components/special/CopyIndicator.tsx
  frontend/src/views/ContactUs.tsx
Labels: design, frontend

#120 Design the new lobby page.
  frontend/src/components/card/HostActionCard.tsx
  frontend/src/components/card/PlayerCard.tsx
  frontend/src/components/config/App.tsx
  frontend/src/components/config/Route.tsx
  frontend/src/components/config/Theme.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/HoverTooltip.tsx
  frontend/src/components/core/RangeSlider.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/layout/MinimalLayout.tsx
  frontend/src/components/special/CopyIndicator.tsx
  frontend/src/components/special/IdContainer.tsx
  frontend/src/views/Landing.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/NotFound.tsx
Labels: design, frontend

#121 Add refresh and leave / delete room to lobby page.
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/HoverTooltip.tsx
  frontend/src/views/Landing.tsx
  frontend/src/views/Lobby.tsx
  src/main/java/com/rocketden/main/controller/v1/RoomController.java
  src/main/java/com/rocketden/main/dto/room/DeleteRoomRequest.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/main/java/com/rocketden/main/socket/WebSocketConnectionEvents.java
  src/test/java/com/rocketden/main/api/RoomTests.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: backend, design, frontend

#118 Style create/join pages and improve game page UI
  .github/workflows/workflow.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/Difficulty.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/config/App.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Container.tsx
  frontend/src/components/core/EnterNickname.tsx
  frontend/src/components/core/Input.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/game/Console.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/components/layout/CircleBackground.tsx
  frontend/src/components/problem/ProblemDisplay.tsx
  frontend/src/components/special/CopyIndicator.tsx
  frontend/src/components/special/FloatingCircle.tsx
  frontend/src/views/ContactUs.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Join.tsx
Labels: design, frontend

#122 adding backend and tests for a room limit for users
  src/main/java/com/rocketden/main/exception/RoomError.java
  src/main/java/com/rocketden/main/model/Room.java
  src/main/java/com/rocketden/main/service/RoomService.java
  src/test/java/com/rocketden/main/service/RoomServiceTests.java
Labels: backend

#123 Update results page design with podium
  frontend/src/api/Language.ts
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/config/App.tsx
  frontend/src/components/config/Theme.tsx
  frontend/src/components/special/Podium.tsx
  frontend/src/util/Utility.ts
  frontend/src/views/Game.tsx
  frontend/src/views/Join.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/Results.tsx
  src/main/java/com/rocketden/main/exception/RoomError.java
  src/main/java/com/rocketden/main/service/GameManagementService.java
  src/test/java/com/rocketden/main/service/GameManagementServiceTests.java
Labels: backend, frontend

#124 Finalize design for results page
  .idea/inspectionProfiles/Project_Default.xml
  frontend/src/components/card/LeaderboardCard.tsx
  frontend/src/components/card/PlayerResultsCard.tsx
  frontend/src/components/core/Button.tsx
  frontend/src/components/core/Link.tsx
  frontend/src/components/core/Modal.tsx
  frontend/src/components/core/Text.tsx
  frontend/src/components/game/Editor.tsx
  frontend/src/components/results/FeedbackPopup.tsx
  frontend/src/components/results/PlayerResultsItem.tsx
  frontend/src/components/results/Podium.tsx
  frontend/src/components/results/ResultsTable.tsx
  frontend/src/components/special/CopyIndicator.tsx
  frontend/src/components/special/Subscribe.tsx
  frontend/src/util/Hook.tsx
  frontend/src/views/ContactUs.tsx
  frontend/src/views/Game.tsx
  frontend/src/views/Lobby.tsx
  frontend/src/views/Results.tsx
  src/main/resources/application.properties
Labels: design, frontend
